<!DOCTYPE html>
<html>
    <head>
        <title>Pszicho Onkológia</title>
        <link rel="stylesheet" href="/css/semantic.min.css">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/editstyle.css">
        <link rel="stylesheet" href="/css/font-awesome.css">
    </head>
    <body>