<script>
    $('.betegek.item').popup({
        inline     : true,
        hoverable  : true,
        position   : 'bottom left',
        delay: {
          show: 300,
          hide: 500
        }
    });

    $('.tesztek.item').popup({
        inline     : true,
        hoverable  : true,
        position   : 'bottom left',
        delay: {
          show: 300,
          hide: 500
        }
    });
</script>

</body>
</html>