<!DOCTYPE html>
<html>
    <head>
        <title>Pszicho Onkológia</title>
        <link rel="stylesheet" href="/css/semantic.min.css">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/betegstyle.css">
        <link rel="stylesheet" href="/css/editstyle.css">
        <link rel="stylesheet" href="/css/font-awesome.css">
        <script src="scripts/jquery-2.2.4.min.js"></script>
        <script src="scripts/semantic.min.js"></script>
    </head>
    <body>