<!DOCTYPE html>
<html>
    <head>
        <title>WHOQOL tesztek</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.2/components/button.min.css">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/indexstyle.css">
    </head>
    <body>