<% include ../partials/header %>

    <div class="ui container">

        <% include ../partials/menu %>

        <h1 class="ui centered inverted header">WHOQOL beállítások</h1>

        <div class="ui raised segment">
            <div class="ui grid">
                <div class="four wide column">
                    <a href="/qol/settings/alkalmak"><button class="ui fluid button">Alkalmak</button></a>
                </div>
                <div class="four wide column">
                    <a href="/qol/settings/beteg-e"><button class="ui fluid button">Beteg-e</button></a>
                </div>
                <div class="four wide column">
                    <a href="/qol/settings/csaladi-allapotok"><button class="ui fluid button">Családi állapotok</button></a>
                </div>
                <div class="four wide column">
                    <a href="/qol/settings/vegzettsegek"><button class="ui fluid button">Végzettségek</button></a>
                </div>
            </div>
        </div>

    </div>

<% include ../partials/footer %>