<% include ../partials/csoportok_header %>

    <div class="ui container">

        <% include ../partials/menu %>

        <form id="newcsoport" name="newcsoport" class="ui form" method="POST" action="/csoportok">
            <h1 class="ui centered header">Add New Csoport</h1>
            <br>
            <div class="field">
                <label>Nev</label>
                <input type="text" name="nev" placeholder="Csoport neve">
            </div>
            <div class="field">
                <label>Leiras</label>
                <textarea rows="2" name="leiras" placeholder="Csoport leirasa"></textarea>
            </div>

            <button class="ui button" type="submit">Submit</button>
        </form>

    </div>

<% include ../partials/footer %>