<% include ../partials/betegek_header %>

<div class="ui container">

    <% include ../partials/menu %>

    <form id="newbeteg" name="newbeteg" class="ui form" method="POST" action="/betegek">
        <h1 class="ui centered header">Uj Beteg</h1>
        <br>
        <div class="field">
            <div class="three fields">
                <div class="field">
                    <label>Azonosito</label>
                    <input type="text" name="azonosito" id="azonosito" placeholder="Azonosito">
                </div>
                <div class="field">
                    <label>Nev</label>
                    <input type="text" name="nev" id="nev" placeholder="Nev">
                </div>
                <div class="field">
                    <label>Csoport</label>
                    <select class="ui search selection dropdown" name="csoport" id="csoport-search-select">
                        <% csoportok.forEach(function(csoport){ %>
                            <option value="<%= csoport.id %>">
                                <%= csoport.nev %>
                            </option>
                        <% }); %>
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="two fields">
                <div class="field">
                    <label>Fazis</label>
                    <input type="text" name="fazis" id="fazis" placeholder="Optional">
                </div>
                <div class="field">
                    <label>Kutataszaro</label>
                    <div class="ui selection dropdown" id="kutataszaro-select">
                        <input type="hidden" name="kutataszaro" id="kutataszaro">
                        <i class="dropdown icon"></i>
                        <div class="default text">Kutataszaro</div>
                        <div class="menu">
                            <div class="item" data-value="" data-text="Nem">
                                Nem
                            </div>
                            <div class="item" data-value="kutatászáró" data-text="Igen">
                                Igen
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <label>Megjegyzes</label>
            <textarea rows="2" name="megjegyzes" id="megjegyzes" placeholder="Egyeb tudnivalok"></textarea>
        </div>

        <button class="ui button" type="submit">Submit</button>
    </form>

</div>

<script src='/scripts/jquery-2.2.4.min.js'></script>
<script src='/scripts/semantic.min.js'></script>


<script>
$('#csoport-search-select').dropdown();
$('#kutataszaro-select').dropdown();
</script>

<% include ../partials/footer %>